[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST={{ lookup('amazon.aws.aws_ssm','cart.{{env}}.redishost', region='us-east-1') }}
Environment=CATALOGUE_HOST={{ lookup('amazon.aws.aws_ssm','cart.{{env}}.cataloguehost', region='us-east-1') }}
Environment=CATALOGUE_PORT={{lookup('amazon.aws.aws_ssm','cart.{{env}}.catalogueport',region='es-east-1)}}
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target